* {
    margin:0;
    padding:0;
}
body, html {
    height: 100%;
    font-family: 'VT323', sans-serif;
}

h1 {
    letter-spacing: 10px;
    font-size: 6rem;
    text-align: center;
    /*color: white;*/
    font-family: 'Orbitron', sans-serif;
    background: #F85032;
    background: radial-gradient(circle farthest-corner at center center, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px yellow;
}
p{
    font-size: 2em;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: black;
    -webkit-text-stroke: 2px orange;

}

footer p{
    font-size: 2rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: coral;
    -webkit-text-stroke: 2px yellow;
}

#footer{
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 2rem;
}
/* Parallax base styles
  --------------------------------------------- */

.parallax {
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
    transform: translateZ(-2px) scale(3);
}

/* add some padding to force scrollbars */
.parallax__layer {

    pointer-events: none;
}

/* Art */
body {
    background: linear-gradient(#110f13 0%, #ec3950 100%);
}
.background {
    position: absolute;
    display: block;
}
.parallax__layer--deep {
    padding: 0 150vw;
}
.parallax__layer--deep .background {
    opacity: 0.65;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: repeat-x;
    background-position:top center;
    background-size: 300vh;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/044/803/638/large/julian-nguyen-you-3.jpg?1641212850);
}
.parallax__layer--back {
    padding: 0 200vw;
}
.parallax__layer--back .background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: repeat-x;
    background-position: bottom center;
    /*background-size: 250vh;*/
    background-size: 190vh;
    opacity: .85;
    background-image: url(https://i.gifer.com/8Cfz.gif);
    /*https://i.pinimg.com/originals/3a/dc/44/3adc44145045725dd51170c665ac7639.jpg*/
    /*https://i.pinimg.com/originals/82/44/07/82440770617964b5cb4460a5b286a9c3.gif*/
    /*https://cdna.artstation.com/p/assets/images/images/044/803/638/large/julian-nguyen-you-3.jpg?1641212850*/
}
.parallax__layer--base{
    padding: 0 300vw;
}
.parallax__layer--base .background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 100vh;
    background-image: url("../rocks.png");
    /*https://contrapedia.files.wordpress.com/2015/03/con1fene15.png?'*/
    /*https://p.jing.fm/clipimg/small/246-2466609_altar-stone-ground-wall.png)*/
}