body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info{
    background-color: rgba(120, 166, 248, 0.71);
    color: blue;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: lightgray solid;

}

.message-success{
    background-color: rgba(148, 227, 148, 0.71);
    margin: 10px;
    padding: 10px;
    color: green;
    border-radius: 5px;
    border: lightgray solid;

}

.message-warning{
    background-color: rgba(255, 255, 111, 0.9);
    color: #ccb84a;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: lightgray solid;

}

.message-error{
    background-color: rgba(250, 165, 193, 0.81);
    margin: 10px;
    padding: 10px;
    color: #963a3a;
    border-radius: 5px;
    border: lightgray solid;

}

