/*
multi
line
comment
*/


h1 {
    text-align: center;
}

h1, h2 {
    color: rgba(211, 179, 17, 0.98); /* single line comment */
    text-decoration: underline;
}

body{
    background-color: cadetblue;
    background-image: url(https://images.squarespace-cdn.com/content/v1/54fc8146e4b02a22841f4df7/1635685540810-W8KMAWUCKW5IB27UDSWW/999.gif);
    background-size: cover;
    font-size: 1em;
    /*font-family: 'Tourney', cursive;*/
    font-family: 'Audiowide', cursive;
    /*font-family: 'Orbitron', sans-serif;*/
}

ul {
    list-style: square;
    color: rgba(202, 41, 215, 0.57);
}

ol{
    color: #b7ff00;
}
.header{
    color:#B7FF00FF;
}

.product{
    text-align: center;
}

td{
    color: #fdb2c0;
    text-align: center;
}
tr{
    color: hotpink;
    text-align: center;
}


/* unvisited link (:link) */
a:link {
    color: palegreen;
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color: rgba(9, 208, 172, 0.99);
}

/* active/selected link (:active) */
a:active {
    color:mediumspringgreen;
}

.registered{
    color:rgba(9, 208, 172, 0.99)
}

img{
    opacity: 50%;
    ali
}
img:hover{
    opacity: 100%;
}