* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*display: flex;*/
    font-family: Vegapunk, sans-serif;
    /*font-size: 2rem;*/
    /*font-family: sans-serif;*/
    /*color: rgb(7, 9, 10);*/
}
.container {
    height: 20rem;
    width: 15rem;
    background-image: linear-gradient(to right top, #a38ee5, #a099e8, #9fa3ea, #a0adea, #a4b6e9, #9fbfef, #9bc8f4, #99d0f7, #85dbff, #70e7ff, #60f1fc, #5ffbf1);
    text-align: center;
    padding-top: 12px;
    border-radius: 16px;
    margin: 10px;
    border: 2px solid rgb(14, 43, 1);
}

/*#map {*/
/*    !* the width and height may be set to any size *!*/
/*    width: 50vw;*/
/*    height: 50vh;*/
/*    opacity: .55;*/
/*    !*border: solid 5.5px lightpink;*!*/
/*    !*position: relative;*!*/
/*    !*bottom: 10px;*!*/
/*    !*border-radius: 20px;*!*/
/*}*/